<nav id="nbar" class="navbar navbar-expand-lg navbar-light" style="width:115%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ url_for('static', filename='/menu.ico') }}" alt="Menu" class="navbar-toggler-icon">
        </button>

        <a id="dztools-link" href="{{ url_for('main') }}" class="nav-link mt-1 navbar-icon" title="Home">
            <img src="{{ url_for('static', filename='/DZ.ico') }}" alt="DZ.ico">
            Home
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="dztools-link" href="{{ url_for('main') }}" class="nav-link usually-hidden" title="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dz_stats/" title="Intersample Comparison of DZ Ages">DZstats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dz_mix/" title="Non-Negative Matrix Factorization">DZmix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dz_nmf/" title="Non-Negative Matrix Factorization">DZnmf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cmd/" title="Run a Command">DZcmd</a>
                </li>
            </ul>
        </div>
    </nav>