<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DZstats</title>
        {% include 'global/header.html' %}
    </head>
    <body>
        {% include 'global/nav.html' %}
        <div class="container mt-5">
            <h1 class="text-left mb-4">DZstats</h1>
            {% include 'dz_stats/include/controls.html' %}
            {% include 'dz_stats/include/results.html' %}
        </div>

        <div id="loading-bar">
            <div class="spinner"></div>
        </div>

        <script src="{{ url_for('static', filename='global/scripts/spinner.js') }}"></script>
        <script src="{{ url_for('static',filename='global/scripts/navbar.js') }}"></script>
        <script src="{{ url_for('static',filename='global/scripts/stacked_switch.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
