<div class="col-md9">
    <form method="post" action="/upload_file" enctype="multipart/form-data" id="fileForm" class="mb-4">
        <div class="mb-3">
            <div class="row">
                <label for="file" class="form-label">Choose an Excel file (.xlsx or .xls)</label>
                <div class="col-md-8">
                    <input type="file" name="file" class="form-control" id="file" accept=".xlsx, .xls"  {% if not file and 'last_uploaded_file' not in session %} required {% endif %}>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Upload {% if 'last_uploaded_file' in session %}New{% endif %} File</button>
        </div>
    </form>
    {% if file or 'last_uploaded_file' in session %}
        <br />
        <form method="post" action="/dz_mix/" enctype="multipart/form-data" id="fileForm" class="mb-4">
            <div class="mb-3">
                <h4 style="color:cyan;">File: {{ session["last_uploaded_file"][33:] }}</h4>
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <label>Bandwidth: </label>
                        <label><input type="text" name="kde_bandwidth" value="{{ kde_bandwidth }}"></label>
                    </div>
                </div>
                <div class="row">
                    <label>Select Graphs:</label>
                    <label><input type="checkbox" name="kde_graph" value="true" {% if kde_graph %}checked{% endif %}> Source and Mixed KDEs</label>
                    <label><input type="checkbox" name="cdf_graph" value="true" {% if cdf_graph %}checked{% endif %}> Source and Mixed CDFs</label>
                    <label><input type="checkbox" name="cross_correlation_graph" value="true" {% if cross_correlation_graph %}checked{% endif %}> Cross-Correlation Coefficient</label>
                    <label><input type="checkbox" name="kuiper_graph" value="true" {% if kuiper_graph %}checked{% endif %}> Kuiper Test V Statistic</label>
                    <label><input type="checkbox" name="ks_graph" value="true" {% if ks_graph %}checked{% endif %}> KS Test D Statistic</label>
                    <label>Select Matrices:</label>
                    <label><input type="checkbox" name="cross_correlation_coefficient_matrix" value="true" {% if test_matrix %}checked{% endif %}> Mean Cross-Correlation Coefficient</label>
                    <label><input type="checkbox" name="mean_v_value_matrix" value="true" {% if test_matrix %}checked{% endif %}> Mean V Value</label>
                    <label><input type="checkbox" name="mean_d_value_matrix" value="true" {% if test_matrix %}checked{% endif %}> Mean D Value</label>
                </div>
                <button type="submit" class="btn btn-primary">Plot</button>
            </div>
        </form>
    {% endif %}
</div>
<br />
<br />


