 <div style="background-color: #333333; width: 100%; height: 55px;">
    <div class="row">
        <div class="col-md-2">
            <form action="/upload_file" enctype="multipart/form-data" id="fileForm" class="mb-4">
                <button id="unmix" class="mt-2 btn btn-primary">Unmix</button>
            </form>
        </div>
        <div class="text-left col-md-3 mt-3">
            {% if (file or 'last_uploaded_file' in session) %}
                <h4 style="color:cyan;">File: {{ session["last_uploaded_file"][33:] }}</h4>
            {% endif %}
        </div>
    </div>
</div>

<input type="file" id="fileInput" style="display: none;" accept=".xlsx">

