<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="row">
            <form method="post" action="/data_editor" enctype="multipart/form-data" id="output_form">
                <ul class="navbar-nav" style="margin-right: 125px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="samples_dropdown">dzMix</a>
                        <div class="dropdown-menu" aria-labelledby="samples_dropdown">
                            <div class="menu_label">Graphs</div>
                            <label class="dropdown-item"><input type="checkbox" name="unmix" value="true" {% if unmix %}checked{% endif %}> Sink and Top Trials</label>
                            <label class="dropdown-item"><input type="checkbox" name="unmix" value="true" {% if unmix %}checked{% endif %}> Relative Contribution</label>
                            <div class="menu_label">Matrices</div>
                            <label class="dropdown-item"><input type="checkbox" name="unmix" value="true" {% if unmix %}checked{% endif %}> Relative Contribution</label>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="insert_dropdown">dzStats</a>
                        <div class="dropdown-menu" aria-labelledby="insert_dropdown">
                            <button id="generate_outputs" type="submit" class="dropdown-item">Generate Outputs</button>
                            <div class="menu_label">Graphs</div>
                            <label class="dropdown-item"><input type="checkbox" name="kde_graph" value="true" {% if kde_graph %}checked{% endif %}> KDE Graph</label>
                            <label class="dropdown-item"><input type="checkbox" name="pdp_graph" value="true" {% if pdp_graph %}checked{% endif %}> PDP Graph</label>
                            <label class="dropdown-item"><input type="checkbox" name="cdf_graph" value="true" {% if cdf_graph %}checked{% endif %}> CDF Graph</label>
                            <label class="dropdown-item"><input type="checkbox" name="mds_graph" value="true" {% if mds_graph %}checked{% endif %}> MDS Graph</label>
                            <div class="menu_label">Matrices</div>
                            <label class="dropdown-item"><input type="checkbox" name="similarity_matrix" value="true" {% if similarity_matrix %}checked{% endif %}> Similarity Matrix</label>
                            <label class="dropdown-item"><input type="checkbox" name="dissimilarity_matrix" value="true" {% if dissimilarity_matrix %}checked{% endif %}> Dissimilarity Matrix</label>
                            <label class="dropdown-item"><input type="checkbox" name="likeness_matrix" value="true" {% if likeness_matrix %}checked{% endif %}> Likeness Matrix</label>
                            <label class="dropdown-item"><input type="checkbox" name="ks_matrix" value="true" {% if ks_matrix %}checked{% endif %}> KS Matrix</label>
                            <label class="dropdown-item"><input type="checkbox" name="kuiper_matrix" value="true" {% if kuiper_matrix %}checked{% endif %}> Kuiper Matrix</label>
                            <label class="dropdown-item"><input type="checkbox" name="cross_correlation_matrix" value="true" {% if cross_correlation_matrix %}checked{% endif %}> Cross-Correlation Matrix</label>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>

