@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Ubuntu+Condensed&display=swap');

body {
    color:white;
    background: black;
    font-family: 'Ubuntu Light', sans-serif;
}
h5 {
    margin: 10px;
}
h6 {
    margin: 10px;
}
