<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dzToolBox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/hyperformula/dist/hyperformula.full.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='data_editor/styles/toolbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='data_editor/styles/split_pane.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='data_editor/styles/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='data_editor/styles/spinner.css') }}">
    <script src="https://cdn.rawgit.com/lingtalfi/simpledrag/master/simpledrag.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css" rel="stylesheet" />

</head>
<body>
    {% include "data_editor/include/info_bar.html" %}
    {% include "data_editor/include/toolbar.html" %}

    <div class="panes-container">
        <div class="left-pane" id="left-pane">
            {% include "data_editor/include/table.html" %}
        </div>
        <div class="panes-separator" id="panes-separator"></div>
        <div class="right-pane" id="right-pane">
            {% include "data_editor/include/outputs.html" %}
        </div>
    </div>

    <div id="loading-bar">
        <h3 style="color: #3498db; position: absolute; top: 40%; left: 40%;">Generating Outputs, Please Wait...</h3>
        <div class="spinner"></div>
    </div>

    {% include "data_editor/include/frames/documentation.html" %}
    {% include "data_editor/include/frames/preferences.html" %}

    <script src="{{ url_for('static', filename='data_editor/scripts/data_table.js') }}"></script>
    <script src="{{ url_for('static', filename='data_editor/scripts/split_pane.js') }}"></script>
    <script src="{{ url_for('static', filename='data_editor/scripts/documentation.js') }}"></script>
    <script src="{{ url_for('static', filename='data_editor/scripts/preferences.js') }}"></script>
    <script src="{{ url_for('static', filename='data_editor/scripts/winbox.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='data_editor/scripts/spinner.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

</body>
</html>
