<!DOCTYPE html>
<html lang="en">
<head>
    <title>dz Tools</title>
    {% include 'global/header.html' %}
</head>
<body>
    {% include 'global/nav.html' %}
    <div class="container mt-5">
        <h1 class="text-left mb-4">DZtools</h1>
        <p class="lead">Web-based data visualization and interpretation for detrital zircon geochronology data</p>
        <br />
        <br />

        <h3>Updates</h3>
        <p>DZstats Web is live! Click the link in the banner to try it out.</p>

        <h3>How-To</h3>
        <p>To use our tools for detrital zircon, please make sure you are using 2-sigma uncertainties in your data.</p>

    </div>

    <script src="../static/scripts/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
