<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PDP Plotter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/DZ.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/default.css') }}">
</head>
<body>
    <nav id="nbar" class="navbar navbar-expand-lg navbar-light" style="width:115%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ url_for('static', filename='/menu.ico') }}" alt="Menu" class="navbar-toggler-icon">
        </button>

        <a id="dztools-link" href="{{ url_for('main') }}" class="nav-link mt-1 navbar-icon">
            <img src="{{ url_for('static', filename='/DZ.ico') }}" alt="DZ.ico">
            DZtools
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="dztools-link" href="{{ url_for('main') }}" class="nav-link usually-hidden">DZtools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pdp/">PDP Plotter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kde/">KDE Plotter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dz_stats/">DZstats</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-left mb-4">PDP Plotter</h1>
        <form method="post" action="/pdp/" enctype="multipart/form-data" id="fileForm" class="mb-4">
            <div class="mb-3">
                <label for="file" class="form-label">Choose an Excel file (.xlsx or .xls)</label>
                <input type="file" name="file" class="form-control" id="file" accept=".xlsx, .xls" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload and Plot</button>
        </form>
        <div class="row">
            <div class="col-md-9">
                {% if graph_data %}
                    <div class="text-left">
                        <div>{{ graph_data|safe }}</div>
                        <!-- Download buttons -->
                        <div class="mt-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Download Graph
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/download_pdp?format=png">PNG</a></li>
                                    <li><a class="dropdown-item" href="/download_pdp?format=svg">SVG</a></li>
                                    <li><a class="dropdown-item" href="/download_pdp?format=pdf">PDF</a></li>
                                    <li><a class="dropdown-item" href="/download_pdp?format=eps">EPS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br />
                <br />
                {% if similarity_data is not none %}
                    {{ similarity_data.to_html(classes="table table-bordered table-striped", justify="center").replace('<th>','<th style = "background-color: White;">').replace('<td>','<td style = "background-color: White;">')|safe }}
                    <div class="col-md-3">
                        <div class="mt-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Download Similarity Matrix
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('download_excel', format='xlsx') }}">XLSX</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('download_excel', format='xls') }}">XLS</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('download_excel', format='csv') }}">CSV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>


        </div>
    </div>

    <br />
    <br />
    <script>
      // Adjust the navbar width based on the content width
      function adjustNavbarWidth() {
        var contentWidth = document.documentElement.scrollWidth || document.body.scrollWidth;
        document.getElementById('nbar').style.width = contentWidth + 50 + 'px';
      }

      // Call the function initially and on window resize
      window.addEventListener('resize', adjustNavbarWidth);
      adjustNavbarWidth();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
