        body {
            background: linear-gradient(to bottom, #000000, #001f3f);
            color: white;
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .navbar {
            background-color: #001f3f;
            font-size: 18px;
            width: 100%;

        }

        .navbar-light .navbar-brand {
            color: cyan;
        }

        .navbar-light .navbar-nav .nav-link {
            color: cyan;
        }

        .navbar-light .navbar-brand:hover {
            color: white;
        }

        .navbar-light .navbar-nav .nav-link:hover {
            color: white;
        }

        .container {
            max-width: 1000px; /* Set the maximum width of the container */
            margin: 0 auto; /* Center the container */
            margin-left: 50px; /* Adjust the left margin as needed */
            margin-right: 50px;
        }

        .navbar-brand img {
            margin-right: 5px;
        }

            /* Custom CSS for color changes */
        #dztools-link {
            color: cyan !important; /* Set the default color to cyan */
        }

        #dztools-link.active {
            color: cyan !important; /* Keep the color cyan when clicked */
        }

        #dztools-link:hover {
            color: white !important; /* Change color to white on hover */
        }
        .usually-hidden {
                display: none; /* Hide the icon on small screens */
            }
                /* CSS for small screens */
        @media (max-width: 1000px) {
            .navbar-icon {
                display: none; /* Hide the icon on small screens */
            }
            .usually-hidden {
                display: flex; /* Hide the icon on small screens */
            }
            .navbar-brand img {
            margin-right: 0;
            }
            .navbar-collapse {
                padding: 10px; /* Remove padding in the collapsed state */
            }

            .navbar-nav {
                margin-top: 0; /* Remove top margin for the navbar items */
            }

            .navbar-nav .nav-item {
                margin: 0; /* Remove margin for individual navbar items */
            }

            .navbar-nav .nav-link {
                padding: 1rem 0; /* Adjust as needed */
                margin: 0; /* Remove margin for individual navbar links */
            }
        }
