<nav class="navbar navbar-expand-lg navbar-light" style="z-index: 1000; margin-bottom: 2px;">
    <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%">
        <div class="titlebar row" style="width: 100%">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if (file or 'last_uploaded_file' in session) %}
                        <h6>File Name: {{ session["last_uploaded_file"][33:] }}</h6>
                    {% else %}
                        <h6>File Name: spreadsheet.xlsx</h6>
                    {% endif %}
                </li>
                <li class="title nav-item">
                    <h6>dzToolBox</h6>
                </li>
                <li style="cursor: pointer" class="documentation nav-item">
                    <h6 id="documentation">Documentation</h6>
                </li>
            </ul>
        </div>
    </div>
</nav>